# Azure Functions
local.settings.json

# Build and publish output folders
bin/
obj/
publish/

# IDE: Rider
.idea/
*.DotSettings.user

# IDE: Visual Studio
.vs/

# Terraform
.terraform/
.terraform.*
*.tfvars
*.tfbackend