@page "/remaining-work"
@model CabaVS.AzureDevOpsMate.Web.Pages.RemainingWork

<h1>Remaining Work Analyzer</h1>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"
            integrity="sha256-uqjf5+HZM2uY6Jhrp+IOoV582+oe9CpZ1ZR4Yy+kWh0="
            crossorigin="anonymous"></script>
}